main.content{
    header{
        width: 100%;
        height: $header-h;
        //helps removing the navigation height
        margin-top: - $nav-h;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            //helps positioning the birds
            object-position: 75% 0%;
        }
    }
    .flex{
        padding: 30px 0 0 0;
        .text{
            padding: 0 26px 0 26px;
            @include breakpoint(s){
                padding: 0 40px 0 26px;
            }
            p{
                margin: 0 0 28px;
            }
        }
        .pic{
            flex-shrink: 0;
            @include breakpoint(s){
                width:424px;
            }
        }
    }
}