//import other scss files
@import "variables";
@import "mapnext";
@import "mixins";
@import "normalize";
@import "navigation";
@import "content";
@import "modal";

body{
    padding: $main-padding;
    background-color: #fcfcfc;
    font-family: $font-family;
    font-size: $font-size;
    //applied in main.js (once window scroll reaches 45px)
    &.scroll{
        nav.navbar{
            position: fixed;
            left: $main-padding;
            right: $main-padding;
        }
        main.content{
            //replace navigation height when it becomes fixed pos
            padding-top: $nav-h;
        }
    
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    min-width: map-get($containers,xs);
    /*Note: useless breakpoint setting here as
            the width is 100% in order to fit
            the visuals.. */
    @each $s,$v in $breakpoints {
        @include breakpoint($s){
            max-width: map-get-next($containers,$s);
        }
    }
}
.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-direction: column;
    @include breakpoint(s){
        flex-direction: row;
    }
}