//reusable mixin to set breakpoints easily
@mixin breakpoint($bp) {
    @if map-has-key($breakpoints,$bp) {
        @media screen and (min-width: map-get($breakpoints, $bp)){
            @content;
        }
    }@else{
        @error "Property #{$bp} must be either xs, s or m.";
    }
}