.modal{
    display: none;
    position: fixed;
    top:0;bottom:0;
    left:0;right:0;
    .layer{
        position: absolute;
        top:0;bottom:0;
        left:0;right:0;
        background-color: rgba(0,0,0,.5);
        cursor: pointer;
    }
    .content{
        position: relative;
        background: #fff;
        padding: 30px 15px 30px 30px;
        width: 80vw;
        min-width: 300px;
        margin: 40px auto 0;
        @include breakpoint(s){
            margin-top: 140px;
        }
        .text{
            flex:1;
            h1{
                margin:0 0 30px;
                font-size: 42px;
                font-weight: 300;
            }
            p{
                margin: 0 0 25px;
                &:last-child{
                    margin: 0;
                }
            }
        }
        .form{
            text-align: left;
            flex:1;
            @include breakpoint(s){
                text-align: right;
            }
            h2{
                margin: 65px 0 20px;
                font-weight: 300;
            }
            .form-input{
                margin-bottom: 10px;
                &:last-of-type{
                    margin-bottom: 20px;
                }
                label{
                    display: inline-block;
                    font-size: smaller;
                    margin-right: 10px;
                    width: 120px;
                }
                input{
                    width: 220px;
                    height: 25px;
                    line-height: 25px;
                    padding: 0 5px;
                    border: 1px solid #000;
                    transition: box-shadow $transition;
                    &:focus{
                        outline: none;
                        box-shadow: 0 0 5px rgba(0,0,0,.5);
                    }
                }
            }
            input[type="submit"]{
                border: 1px solid #000;
                height: 33px;
                line-height: 33px;
                padding: 0 33px;
                font-size: larger;
                cursor: pointer;
                background: #fff;
                transition: box-shadow $transition;
                &:hover{
                    box-shadow:  0 0 5px rgba(0,0,0,.5);
                }
            }
        }
    }
}