nav.navbar{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    .container{
        //helps removing shadow on top/left/right of nav
        overflow: hidden;
        padding-bottom: 15px;
    }
    ul{
        list-style: none;
        padding: 0 0 0 14px;
        margin: 0;
        background-color: rgba(255,255,255,.85);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        li{
            display: inline-block;
            padding: 12px 50px 14px 0;
            a{
                display: block;
                position: relative;
                color: #000;
                text-decoration: none; 
                //add a small underline on hover state
                &:after{
                    content: "";
                    height: 1px;
                    position: absolute;
                    background: #000;
                    left: 0;
                    width: 0;
                    bottom: -3px;
                    transition: width $transition;
                    pointer-events: none;
                }
                &:hover:after{
                    width: 100%;
                }
            }
        }
    }
}
