$containers: (xs: 320px,s: 960px,m: 1150px, l: 1150px);
$breakpoints: (xs: 0px,s: 960px,m: 1150px);
$main-padding: 45px;
$nav-h: 59px;
$header-h: 356px;
$font-family: "Open Sans", sans-serif;
$font-size: 16px;
$transition: 200ms;
